html {
  height: 100%;
}

body {
  background-color: #FFF;
}

h1 {
  color: rgb(18, 127, 169);
}

.btn {
  border-radius: 0;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    color: #FFF;
    background-color: rgb(18, 127, 169);
    border-color: rgb(15, 97, 129);
}

.content {
  padding-top: 20vh;
}
