html {
  height: 100%;
}

body {
  background-color: #FFF;
}

h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  color: rgb(18, 127, 169);
  line-height: 0.8;
}

.btn {
  border-radius: 0;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    color: #FFF;
    background-color: rgb(18, 127, 169);
    border-color: rgb(15, 97, 129);
}

.content {
  padding-top: 15vh;
}
