body {
    background-color: #eee;
    color: #333;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}
a,
a:hover,
a:active,
a:visited,
a:link {
    color: #72b3ea;
}
.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
    stroke:#11436f;
}

.ct-label {
    stroke: #333;
    fill: #333;
    dominant-baseline: central;
    text-anchor: middle;
    font-size: 2em;
}
.profile-img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    height: 150px;
}
.label {
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

.skills {
    margin-top: 15px;
}

.skillset {
    margin-bottom: 50px;
    text-align: center;
}

.header {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #11436f;
    background: -webkit-linear-gradient(#185e9a, #11436f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#185e9a, #11436f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#185e9a, #11436f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#185e9a, #11436f); /* Standard syntax */
    color: #fff;
}

.section {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding-bottom: 15px;
    background-color: #fff;
}
.section-item {
  padding-bottom: 30px;
}
.section-item:last-of-type {
  padding-bottom: 0;
}
p.description {
  margin-left: 10px;
  margin-top: 5px;
  padding-left: 10px;
  border-left: 2px solid #999;
}
.header .icon {
  padding: 0 7px;
}
.header .icon a {
  color: #eee;
  text-decoration: none;
}

@media print { 

    * {
        font-size: 10pt;
        line-height: 1.3;
    }
    body {
        margin-top: 0;
        margin-bottom: 0;
    }
    .header {
        text-align: center;
        padding-top: 0;
        padding-bottom: 5px;
    }
    hr {
        margin-bottom: 0;
    }
    h1 {
        font-size: 18pt;
        margin-bottom: -12px;
    }
    h2 {
        font-size: 16pt;
        margin-bottom: 3px;
    }
    h3 {
        font-size: 14pt;
        margin-bottom: 3px;
    }
    h1,
    h2,
    h3 {
        animation: none;
    }
    .section {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 5px;
        border: none;
    }
    .section:first-of-type {
        margin-bottom: 0;
    }
    .section-item {
        padding-bottom: 5px;
    }
    .section-item:last-of-type {
         padding-bottom: 0;
    }

    .skill {
        font-size: 100%;
        text-align: left;
        background-color: none;
        border: none;
        padding: 0;
    }
    .skill:after {
        content: ",";
    }
    .skill:last-of-type:after {
        content: "";
    }
}

@media only screen and (max-width : 768px) {
 .section {
     margin-left: 0;
     margin-right: 0;
 }
}

.ct-slice-donut {
  /*stroke-dasharray: 0;
  stroke-dashoffset: 0;
  animation: load 0.5s linear forwards;*/
}

@keyframes colorize {
    to {
        color: #11436f;
    }
}

@keyframes colorize-links {
    to {
        color: #72b3ea;
    }
}

@keyframes colorize-picture {
    to {
        -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
        filter: grayscale(0%);
    }
}

@keyframes load {
  to {
    stroke-dashoffset: 0;
  }
}